.about {
  padding: 10rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    min-height: 73rem;

    @include mobile {
      min-height: unset;
      display: flex;
      flex-direction: column-reverse;
      gap: 5rem;
    }
  }

  &__content {
    grid-column: 5 span;
    padding: 6.5rem 8rem;
    background-color: var(--ac-white);
    border-radius: 1rem;
    overflow: hidden;

    @include mobile {
      padding: 5rem 4rem;
    }
  }
  &__title {
    margin-bottom: 3rem;
    @include mobile {
      margin-bottom: 2rem;
    }
  }
  &__desc {
    @include mobile {
      font-weight: 400;
    }

    .about__text {
      @include mobile {
        // Базовые ограничения для мобильных
        max-height: calc(1.5em * 12); // 12 строк
        overflow: hidden;
        position: relative;
        transition: max-height 0.3s ease;

        // Класс для развернутого состояния
        &.about__text--expanded {
          max-height: none;
          overflow: visible;
        }
      }
    }

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
  &__video {
    position: relative;
    grid-column: 7 span;
    border-radius: 1rem;
    overflow: hidden;
    @include mobile {
      height: 30.1rem;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.about__read-more {
  display: none;
  margin: 0 auto;
  margin-top: 2rem;
  width: 100%;
  cursor: pointer;

  font-weight: 400;
  background: none;
  border: none;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--ac-black);
  @include mobile {
    display: block;
  }
  &:focus {
    outline: none;
  }

  .about__read-more-text--hidden {
    display: none;
  }

  &.about__read-more--expanded {
    .about__read-more-text {
      display: none;
    }

    .about__read-more-text--hidden {
      display: block;
    }
  }
}
