.cta-bottom {
  padding: 9.3rem 0;
  &__container {
    display: flex;
    gap: 2rem;

    @include mobile {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 5rem;
    @include mobile {
      margin-bottom: 3rem;
    }
  }

  &__decor {
    position: relative;
    flex-basis: 83rem;
    flex-shrink: 0;
    border-radius: 1rem;
    overflow: hidden;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    @include mobile {
      height: 48rem;
      flex-basis: unset;
    }
  }

  &__content {
    flex: 1;
    padding: 6.5rem 8rem 8rem;
    background-color: var(--ac-white);
    border-radius: 1rem;
    overflow: hidden;
    @include mobile {
      padding: 5rem 3rem 6rem;
      max-width: 100%;
    }
  }

  .form {
    gap: 2rem;
    @include mobile {
      gap: 1.2rem;
    }
  }
  .form__row {
    & > *:nth-child(1) {
      flex-basis: 41.6rem;
      @include mobile {
        flex-basis: unset;
      }
    }
  }
  .form__field-wrapper--area {
    height: 16rem;
    @include mobile {
      height: 12rem;
    }
  }
  .cta-extra {
    margin-top: -0.7rem;
  }
}
