.dropdown {
  display: block;
  width: 100%;
  border-radius: 2rem;
  padding: 2.68rem 2rem;
  background-color: #fafafa;
  border: none;

  font-weight: 400;
  font-size: 2.2rem;
  line-height: 120%;

  transition: color 0.1s ease-out, background-color 0.1s ease-out,
    border-radius 0.1s ease-out;
  position: relative;
  z-index: 15;

  &__header {
    position: relative;
    color: rgba(0, 0, 0, 0.45);
    transition: color 0.3s ease;
  }
  &__btn {
    position: absolute;
    top: 50%;
    right: -1.6rem;
    transform: translateY(-50%);
    width: 2.2rem;
    height: 1.3rem;
    flex-shrink: 0;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
  }
  &__label {
    position: absolute;
    top: 0rem;
    color: currentColor;
    transition: color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
  }
  &__capture {
    opacity: 0;
    color: currentColor;
    transition: color 0.3s ease, opacity 0.3s ease-in;
  }
  &__body {
    position: absolute;
    z-index: 4;
    left: -2px;
    top: 100%;
    right: -2px;

    box-sizing: content-box;

    max-height: 0;
    transition: max-height 0.2s ease-out;
    will-change: max-height;
    overflow: hidden;
  }

  &__content {
    background-color: var(--ac-white);
    z-index: 5;
    padding: 0.5rem 3rem 2rem;

    border: 2px solid transparent;
    border-top: none;
    border-radius: 0 0 2rem 2rem;
    transition: color 0.1s ease-out, background-color 0.1s ease-out,
      border-radius 0.1s ease-out;
  }

  &__item {
    cursor: pointer;
    transition: color 0.3s ease-in;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    &:first-child {
      display: none;
    }
    @include hover {
      color: var(--accent-cyan);
    }
  }

  &.open {
    background: var(--ac-white);
    border-radius: 2rem 2rem 0 0;
    outline: 2px solid var(--ac-black);
    border-bottom: none;
    .dropdown__content {
      border-color: var(--ac-black);
      background-color: var(--ac-white);
    }
    .dropdown__header {
      color: var(--ac-black);
    }

    @include hover {
      .dropdown {
        &__capture {
          color: var(--ac-black);
        }
        &__label {
          color: var(--ac-black);
        }
      }
    }
  }
  &.filled {
    .dropdown__capture {
      color: var(--ac-black);
    }
    .dropdown__label {
      transform: translateY(-1rem);
      font-size: 1.2rem;
    }
    .dropdown__capture {
      opacity: 1;
      transform: translateY(0.8rem);
    }
    @include hover {
      .dropdown__capture {
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
  &.open.filled {
    .dropdown__capture {
      color: var(--ac-black);
    }
  }
  @include hover {
    .dropdown {
      &__capture {
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
}
