.faq {
  padding: 10.2rem 0;
  @include mobile {
    padding: 9.8rem 0;
  }
  &__title {
    margin-bottom: 4.8rem;

    @include mobile {
      text-align: left;
      margin-bottom: 4rem;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.faq-item {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5rem 4rem;
  background-color: var(--ac-white);
  transition: min-height 0.3s ease;
  will-change: min-height;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;

    @include hover {
      .faq-item__btn svg {
        stroke: var(--ac-pink);
      }
    }
  }

  &__capture {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 120%;
    color: #303030;
  }

  &__btn {
    margin-right: 0.4rem;
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s ease;
    position: relative;
    @include mobile {
      width: 2.8rem;
      height: 2.8rem;
    }
    svg {
      width: 3rem;
      height: 2rem;
      stroke: #040404;
      stroke-linecap: round;
      transition: stroke 0.3s ease-in;

      @include mobile {
        width: 2rem;
        height: 1.8rem;
      }
    }
  }

  &__content {
    box-sizing: content-box;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  &__text {
    padding-top: 4rem;
    color: var(--ac-black);
    font-size: 2rem;
    font-weight: 300;
    line-height: 150%;
    color: #303030;
    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
    ul,
    ol {
      li:not(:last-child) {
        margin-bottom: 1.5em;
      }
    }
  }

  @include mobile {
    padding: 3.2rem 4rem;
    border-radius: 2rem;
    &__text {
      padding-top: 2rem;
      font-size: 1.8rem;
    }
  }

  &.open {
    .faq-item__btn svg {
      stroke: var(--ac-pink);
    }
  }
}
