.hero {
  position: relative;
  min-height: 100rem;
  padding: 22.7rem 0 24rem;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include mobile {
    min-height: 100dvh;
    padding: 6rem 0;
    border-radius: 0 0 2rem 2rem;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 250rem;
    height: 250rem;
    background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0, 0) 100%
    );

    @include mobile {
      width: 120%;
      height: 60%;
      transform: translateX(-10%) translateY(10%);
      top: unset;
      bottom: 0;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        #000 80.55%
      );
    }
  }
  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__container {
    position: relative;
    z-index: 3;
    padding-left: 15.2rem;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include mobile {
      padding-left: 0;
      justify-content: flex-end;
    }
  }
  &__title {
    margin-bottom: 4.7rem;
    max-width: 95rem;
    line-height: 0.9;
    span {
      color: inherit;

      &:nth-child(1) {
        @include mobile {
          display: none;
        }
      }
      &:nth-child(2) {
        display: none;
        @include mobile {
          display: inline;
        }
      }
    }
    @include mobile {
      margin-bottom: 5.5rem;
      line-height: 100%;
      letter-spacing: 0.036em;
    }
  }

  &__btn {
    min-width: 51.6rem;
    padding: 2.2rem 2rem 2.6rem;
  }
}
