.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 7rem;

    li {
      font-weight: 400;
      font-size: 2.2rem;
      color: var(--ac-black);
      a {
        color: inherit;
      }

      transition-property: color;
      transition-duration: 0.3s;
      @include hover {
        color: var(--ac-pink);
      }
      &:focus {
        outline: none;
        color: var(--ac-pink);
      }
      &.current_page_item {
        color: var(--ac-pink);
      }
    }
  }
}
