.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 86%;
  text-transform: uppercase;
  color: var(--ac-darkblue);
  img {
    display: block;
    width: 5rem;
    height: 2.6rem;
    flex-shrink: 0;

    @include mobile {
      width: 7.2rem;
      height: 3.6rem;
    }
  }

  @include mobile {
    span {
      display: none;
    }
  }
}

.title1 {
  margin: 0;
  font-weight: 700;
  font-size: 9rem;
  color: var(--ac-white);
  span {
    color: var(--ac-pink);
  }

  @include mobile {
    font-size: 6rem;
  }
}
.title2 {
  margin: 0;
  font-weight: 700;
  font-size: 5.4rem;
  color: var(--ac-black);
  span {
    color: var(--ac-pink);
  }

  @include mobile {
    font-size: 4.6rem;
  }
}
.title3 {
  margin: 0;

  font-weight: 700;
  font-size: 5rem;
  color: var(--ac-black);
  span {
    color: var(--ac-pink);
  }
}

.capture1 {
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
  line-height: 130%;
  color: var(--ac-black);

  @include mobile {
    font-size: 2.8rem;
  }
}

.desc1 {
  margin: 0;
  font-weight: 300;
  font-size: 2rem;
  line-height: 150%;
  color: var(--ac-black);

  @include mobile {
    font-size: 2.2rem;
  }

  b {
    font-weight: 500;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 2.2rem;

  font-weight: 500;
  font-size: 2.8rem;
  color: var(--ac-white);

  border-radius: 1rem;
  text-align: center;
  background-color: var(--ac-pink);
  transition-property: background-color, color;
  transition-duration: 0.3s;
  &:disabled {
    background-color: #e3e6e6;
    color: #adafb2;
    cursor: not-allowed;
  }
  @include hover {
    &:not(:disabled) {
      background-color: #de2f5e;
    }
  }
  &:not(:disabled):focus {
    outline: none;
    background-color: #de2f5e;
  }
  &:not(:disabled):active {
    background-color: var(--ac-pink);
  }
}
.link-btn {
  transition-property: color;
  transition-duration: 0.3s;
  @include hover {
    color: var(--ac-pink);
  }
  &:focus {
    outline: none;
    color: var(--ac-pink);
  }
}
.back-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 5rem;

  font-weight: 500;
  font-size: 2.2rem;
  line-height: 120%;
  color: var(--ac-black);
  transition-property: color;
  transition-duration: 0.3s;
  @include mobile {
    margin-bottom: 2.2rem;
  }
  svg {
    width: 2.4rem;
    height: 1.2rem;
    stroke: currentColor;
  }
  @include hover {
    color: var(--ac-pink);
  }
  &:focus {
    outline: none;
    color: var(--ac-pink);
  }
}
.soc {
  display: flex;
  gap: 1rem;

  li {
    display: block;
    width: 4.4rem;
    height: 4.4rem;

    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #de2f5e;
        opacity: 0;
        mix-blend-mode: lighten;
        transition-property: background-color, opacity;
        transition-duration: 0.3s;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @include hover {
        &::after {
          opacity: 1;
        }
      }
      &:focus {
        outline: none;
        &::after {
          opacity: 1;
        }
      }
      &:active {
        &::after {
          opacity: 1;
          background-color: var(--ac-pink);
        }
      }
    }
  }
}

.content {
  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 5.4rem;
    color: var(--ac-black);
    span {
      color: var(--ac-pink);
    }

    @include mobile {
      font-size: 4.6rem;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-size: 5rem;
    color: var(--ac-black);
    span {
      color: var(--ac-pink);
    }
  }

  p,
  ul,
  ol {
    font-weight: 300;
    font-size: 2rem;
    line-height: 150%;
    color: var(--ac-black);

    @include mobile {
      font-size: 2.2rem;
    }

    b {
      font-weight: 500;
    }
  }
}
