<section class="about">
  <div class="container">
    <div class="about__container">
      <div class="about__content">
        <h2 class="title2 about__title">О компании</h2>
        <div class="desc1 about__desc">
          <p>Покупка автомобиля из&nbsp;Китая для&nbsp;многих кажется рискованным шагом: доставка может затянуться
            на&nbsp;месяцы,
            условия часто непрозрачны, а&nbsp;вместо ожидаемого авто легко получить “кота в&nbsp;мешке”.
            Непредсказуемость
            и&nbsp;подводные камни превращают мечту о&nbsp;новой машине в&nbsp;стресс и&nbsp;постоянные сомнения.
          </p>
          <p>
            Компания АвтоКлик изменила правила игры. Мы&nbsp;сделали процесс покупки прозрачным, удобным
            и&nbsp;безопасным: оплата
            в&nbsp;один клик, официальное оформление без&nbsp;скрытых условий, онлайн отслеживание перевозки авто
            и&nbsp;чёткие сроки
            доставки за&nbsp;счёт собственного сервиса покупки в&nbsp;Китае и&nbsp;морской логистики. С&nbsp;нами
            покупка
            авто из&nbsp;Китая&nbsp;—
            это&nbsp;не&nbsp;риск и&nbsp;неизвестность, а&nbsp;удобный и&nbsp;понятный процесс с&nbsp;гарантированным
            результатом.
          </p>

          <p><b>Вы&nbsp;выбираете авто, мы&nbsp;гарантируем результат.</b></p>
        </div>
      </div>
      <div class="about__video">
        <video src="./" poster="./img/about.webp"></video>
      </div>
    </div>
  </div>
</section>
