<section class="benefits">
  <div class="container">
    <h2 class="title2 benefits__title centered">Преимущества</h2>

  </div>
  <div class="benefits__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="benefits__item ben">
          <div class="ben__content ben__content_pc">
            <p class="ben__capture capture1">1 клик — и авто оформлено онлайн</p>
            <div class="ben__desc desc1">
              Уникальная система покупки в&nbsp;один клик: загрузка всех документов онлайн, не&nbsp;нужно никуда ходить
              и&nbsp;отправлять.
              Договоры заключаем через&nbsp;сервис
              с&nbsp;использованием ЭЦП
            </div>
          </div>

          <div class="ben__content ben__content_mob">
            <p class="ben__capture capture1">Покупка авто в один клик</p>
            <div class="ben__desc desc1">
              Уникальная система покупки:<br>
              загрузка всех документов<br>
              онлайн и&nbsp;договор<br>
              через&nbsp;ЭЦП
            </div>
          </div>

          <div class="ben__img">
            <picture>
              <source srcset="./img/benefits/01-mob.webp" media="(max-width: 600px)" type="image/webp">
              <img loading="lazy" src="./img/benefits/01.webp" class="image" width="420" height="705" alt="">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="benefits__item ben">
          <div class="ben__content ben__content_pc">
            <p class="ben__capture capture1">Свой офис в Китае</p>
            <div class="ben__desc desc1">
              Наша команда работает на&nbsp;всех этапах в&nbsp;Китае от&nbsp;заказа, проверки авто до&nbsp;погрузки
              на&nbsp;наше судно. Никаких посредников, быстрая и&nbsp;безопасная покупка
              с&nbsp;фото и&nbsp;видео отчётами
            </div>
          </div>

          <div class="ben__content ben__content_mob">
            <p class="ben__capture capture1">Свой офис в&nbsp;Китае</p>
            <div class="ben__desc desc1">
              Собственная команда<br>
              в&nbsp;Китае, быстрая покупка<br>
              с&nbsp;фото и&nbsp;видео отчётами
            </div>
          </div>

          <div class="ben__img">
            <picture>
              <source srcset="./img/benefits/02-mob.webp" media="(max-width: 600px)" type="image/webp">
              <img loading="lazy" src="./img/benefits/02.webp" class="image" width="420" height="705" alt="">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="benefits__item ben">
          <div class="ben__content ben__content_pc">
            <p class="ben__capture capture1">Экономьте<br>
              до&nbsp;300 000&nbsp;₽ на&nbsp;доставке и&nbsp;платежах</p>
            <div class="ben__desc desc1">
              Покупка без&nbsp;посредников напрямую по&nbsp;своей цепочке в&nbsp;Китае, поэтому гарантируем экономию
              на&nbsp;всех этапах: оплата, таможня и&nbsp;склад, доставка собственным судном морем
            </div>
          </div>

          <div class="ben__content ben__content_mob">
            <p class="ben__capture capture1">Экономьте до&nbsp;300 000&nbsp;₽ на&nbsp;доставке и&nbsp;платежах</p>
            <div class="ben__desc desc1">
              Оплата и&nbsp;логистика напрямую<br>
              по&nbsp;нашей цепочке,<br>
              гарантируем экономию<br>
              на&nbsp;всех этапах
            </div>
          </div>

          <div class="ben__img">
            <picture>
              <source srcset="./img/benefits/03-mob.webp" media="(max-width: 600px)" type="image/webp">
              <img loading="lazy" src="./img/benefits/03.webp" class="image" width="420" height="705" alt="">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="benefits__item ben">
          <div class="ben__content ben__content_pc">
            <p class="ben__capture capture1">1 минута — и авто оплачено</p>
            <div class="ben__desc desc1">
              Уникальный собственный сервис оплаты в&nbsp;Китай без&nbsp;комиссий и&nbsp;по&nbsp;минимальному курсу.
              Никаких походов в&nbsp;банк, достаточно оплатить нам,
              и&nbsp;мы&nbsp;сделаем все&nbsp;сами
            </div>
          </div>

          <div class="ben__content ben__content_mob">
            <p class="ben__capture capture1">1&nbsp;минута&nbsp;— и&nbsp;авто оплачено</p>
            <div class="ben__desc desc1">
              Перевод в&nbsp;Китай<br>
              без&nbsp;походов в&nbsp;банк
            </div>
          </div>

          <div class="ben__img">
            <picture>
              <source srcset="./img/benefits/04-mob.webp" media="(max-width: 600px)" type="image/webp">
              <img loading="lazy" src="./img/benefits/04.webp" class="image" width="420" height="705" alt="">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="benefits__item ben">
          <div class="ben__content ben__content_pc">
            <p class="ben__capture capture1">Отслеживайте путь авто в&nbsp;Telegram и&nbsp;WhatsApp</p>
            <div class="ben__desc desc1">
              Система информирования через&nbsp;WhatsApp и&nbsp;Telegram о&nbsp;перемещении авто
              на&nbsp;каждом этапе. Вы&nbsp;всегда будете
              знать, где&nbsp;находится ваш&nbsp;автомобиль
            </div>
          </div>

          <div class="ben__content ben__content_mob">
            <p class="ben__capture capture1">Отслеживайте путь авто в&nbsp;Telegram и&nbsp;WhatsApp</p>
            <div class="ben__desc desc1">
              Уведомления о&nbsp;каждом этапе<br>
              прямо в&nbsp;мессенджере
            </div>
          </div>

          <div class="ben__img">
            <picture>
              <source srcset="./img/benefits/05-mob.webp" media="(max-width: 600px)" type="image/webp">
              <img loading="lazy" src="./img/benefits/05.webp" class="image" width="420" height="705" alt="">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="benefits__item ben">
          <div class="ben__content ben__content_pc">
            <p class="ben__capture capture1">Доставка и выдача авто до 20 дней</p>
            <div class="ben__desc desc1">
              Единственные на&nbsp;ДВ&nbsp;отправляем из&nbsp;Китая авто на&nbsp;своём судне каждую неделю.
              Выдача с&nbsp;таможенным
              оформлением&nbsp;— до&nbsp;20&nbsp;дней
            </div>
          </div>

          <div class="ben__content ben__content_mob">
            <p class="ben__capture capture1">Доставка и&nbsp;выдача авто до&nbsp;20&nbsp;дней</p>
            <div class="ben__desc desc1">
              Единственные на&nbsp;ДВ<br>
              отправляем из&nbsp;Китая<br>
              авто на&nbsp;своём судне<br>
              каждую неделю
            </div>
          </div>

          <div class="ben__img">
            <picture>
              <source srcset="./img/benefits/06-mob.webp" media="(max-width: 600px)" type="image/webp">
              <img loading="lazy" src="./img/benefits/06.webp" class="image" width="420" height="705" alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
