<section class="declare">
  <div class="container">
    <div class="declare__container">
      <div class="declare__img">
        <picture>
          <source srcset="./img/declare-mob.webp" type="image/webp" media="(max-width: 600px)">
          <source srcset="./img/declare.webp" type="image/webp">
          <img loading="lazy" src="./img/declare.jpg" class="image" width="" height="" alt="">
        </picture>
      </div>
      <div class="declare__content">
        <h2 class="title2 declare__title">
          Оказываем услуги
          по&nbsp;<span>декларированию</span>
          разобранных авто
        </h2>
        <p class="desc1 declare__desc">
          Оформляем документы для ввоза автомобилей
          в&nbsp;разобранном виде, обеспечивая корректное декларирование и&nbsp;соблюдение всех
          таможенных требований.
        </p>

        <button class="btn btn-reset declare__btn" data-target="modal-cta">Оставить заявку</button>
      </div>
    </div>
  </div>
</section>
