<section class="delivery">
  <div class="container">
    <div class="delivery__container">
      <div class="delivery__img">
        <picture>
          <source srcset="./img/delivery-mob.webp" media="(max-width: 600px)" type="image/webp">
          <img loading="lazy" src="./img/delivery.webp" class="image" width="890" height="809" alt="">
        </picture>
      </div>

      <div class="delivery__content">
        <h2 class="title2 delivery__title">
          Мы осуществляем доставку <span>морским транспортом</span>
        </h2>

        <ul class="list-reset list delivery__list">
          <li>Безопасность перевозки: минимум перегрузок, никаких рисков повреждений, камень в кузов уже не прилетит
          </li>
          <li>До 7 дней — срок доставки из Китая в РФ</li>
          <li>Авто 100% застраховано в процессе перевозки</li>
          <li>Приёмка автомобилей в домашнем порту</li>
          <li>Цена ниже по сравнению с сухопутными перевозками</li>
        </ul>

        <button class="btn-reset btn delivery__btn">Оставить заявку</button>
      </div>
    </div>
  </div>
</section>
