<section class="delivery">
  <div class="container">
    <div class="delivery__container">
      <div class="delivery__img">
        <picture>
          <source srcset="./img/delivery-mob.webp" media="(max-width: 600px)" type="image/webp">
          <img loading="lazy" src="./img/delivery.webp" class="image" width="890" height="809" alt="">
        </picture>
      </div>

      <div class="delivery__content">
        <h2 class="title2 delivery__title">
          Мы осуществляем доставку <span>морским транспортом</span>
        </h2>

        <ul class="list-reset list delivery__list">
          <li>Безопасность перевозки: минимум перегрузок, никаких рисков повреждений, камень в&nbsp;кузов
            уже&nbsp;не&nbsp;прилетит
          </li>
          <li>До&nbsp;7&nbsp;дней&nbsp;— срок доставки из&nbsp;Китая&nbsp;в&nbsp;РФ</li>
          <li>Авто 100% застраховано в&nbsp;процессе&nbsp;перевозки</li>
          <li>Приёмка автомобилей в&nbsp;домашнем&nbsp;порту</li>
          <li>Цена ниже по&nbsp;сравнению с&nbsp;сухопутными перевозками</li>
        </ul>

        <button class="btn-reset btn delivery__btn" data-target="modal-cta">Оставить заявку</button>
      </div>
      <button class="btn-reset btn delivery__btn delivery__btn_mob" data-target="modal-cta">Оставить заявку</button>
    </div>
  </div>
</section>