<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__left">
        <address class="footer__address">
          <p class="desc1 footer__link"><a href="#" class="link-btn">+7&nbsp;908-444-84-64</a></p>
          <p class="desc1 footer__link"><a href="#" class="link-btn">carbuy@avtoklik.ru</a></p>
          <p class="desc1 footer__link">Владивосток,&nbsp;ул.&nbsp;Станюковича&nbsp;
            д.&nbsp;46, офис 304</p>
        </address>
        <ul class="list-reset soc footer__soc footer__soc--mobile">
          <li>
            <a href="#" target="_blank">
              <img src="./img/wa.svg" alt="WhatsApp">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="./img/tg.svg" alt="Telegram">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="./img/vk.svg" alt="VKontakte">
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__right">
        <!-- Основной блок соцсетей для десктопа -->
        <ul class="list-reset soc footer__soc footer__soc--desktop">
          <li>
            <a href="#" target="_blank">
              <img src="./img/wa.svg" alt="WhatsApp">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="./img/tg.svg" alt="Telegram">
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="./img/vk.svg" alt="VKontakte">
            </a>
          </li>
        </ul>

        <a href="#" class="desc1 footer__policy link-btn">Политика конфиденциальности</a>
        <small class="desc1 footer__copy">©2025 Автоклик</small>
      </div>
    </div>
  </div>
</footer>