<section class="guarantee">
  <div class="container">
    <h2 class="centered guarantee__title">
      Наша компания гарантирует
    </h2>

    <div class="guarantee__container">
      <div class="guarantee__item">
        <div class="guarantee__item-content">
          <h4 class="guarantee__item-title capture1">
            Разбор автомобилей
          </h4>
          <p class="guarantee__item-desc desc1">
            По&nbsp;всем требованиям<br>
            российского законодательства
          </p>
        </div>
        <div class="guarantee__item-img">
          <picture>
            <source srcset="./img/guarantee/01-mob.webp" type="image/webp" media="(max-width: 600px)">
            <source srcset="./img/guarantee/01.webp" type="image/webp">
            <img loading="lazy" src="./img/guarantee/01.png" class="image" width="890" height="560" alt="Block text 1">
          </picture>
        </div>
      </div>
      <div class="guarantee__item">
        <div class="guarantee__item-content">
          <h4 class="guarantee__item-title capture1">
            Проведение<br>
            их таможенной очистки
          </h4>
          <p class="guarantee__item-desc desc1">
            С&nbsp;предоставлением заказчику<br>
            всех необходимых документов для последующей реализации
          </p>
        </div>
        <div class="guarantee__item-img">
          <picture>
            <source srcset="./img/guarantee/02-mob.webp" type="image/webp" media="(max-width: 600px)">
            <source srcset="./img/guarantee/02.webp" type="image/webp">
            <img loading="lazy" src="./img/guarantee/02.png" class="image" width="890" height="560" alt="Block text 1">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
