<section class="hero">


  <div class="hero__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="hero__container">
            <div class="hero__content">
              <div class="hero__heading">
                <h1 class="title1 hero__title">
                  Доставка авто в&nbsp;один
                  клик
                </h1>
                <ul class="list-reset hero__list">
                  <li>
                    <img src="./img/flags/china.svg" alt="">
                    Китай
                  </li>
                  <li>
                    <img src="./img/flags/china.svg" alt="">
                    Китай
                  </li>
                  <li>
                    <img src="./img/flags/china.svg" alt="">
                    Китай
                  </li>
                  <li>
                    <img src="./img/flags/china.svg" alt="">
                    Китай
                  </li>
                </ul>
              </div>
              <button class="btn-reset hero__btn btn" data-target="modal-cta">
                Оставить заявку
              </button>

            </div>

            <div class="hero__gallery">
              <div class="hero__gallery-item">
                <video class="hero__video" src="./cover.mp4" preload="metadata" poster="./img/thumbs/001.webp" loop
                  playsinline muted></video>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="hero__container">
            <div class="hero__content">
              <div class="hero__heading">
                <h1 class="title1 hero__title">
                  Доставка авто в&nbsp;один
                  клик
                </h1>
                <ul class="list-reset hero__list">
                  <li>
                    <img src="./img/flags/china.svg" alt="">
                    Китай
                  </li>
                  <li>
                    <img src="./img/flags/china.svg" alt="">
                    Китай
                  </li>
                  <li>
                    <img src="./img/flags/china.svg" alt="">
                    Китай
                  </li>
                  <li>
                    <img src="./img/flags/china.svg" alt="">
                    Китай
                  </li>
                </ul>
              </div>
              <button class="btn-reset hero__btn btn" data-target="modal-cta">
                Оставить заявку
              </button>

            </div>

            <div class="hero__gallery">
              <div class="hero__gallery-item">
                <video class="hero__video" src="./cover.mp4" preload="metadata" poster="./img/thumbs/001.webp" loop
                  playsinline muted></video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero__thumbs swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__thumb">
            <img src="./img/thumbs/001.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__thumb">
            <img src="./img/thumbs/001.webp" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>