<section class="hero-b2b">
  <div class="container hero-b2b__container">
    <div class="hero-b2b__content">
      <h1 class="title1 hero-b2b__title">Авто из&nbsp;Китая
        в&nbsp;один клик
        морем</h1>
      <ul class="list-reset hero-b2b__list">
        <li>Оперативная доставка</li>
        <li>Удобный личный кабинет</li>
        <li>Повышенная безопасность</li>
      </ul>
      <button class="btn-reset hero-b2b__btn btn" data-target="modal-cta">
        Оставить заявку
      </button>
    </div>

    <div class="hero-b2b__img">
      <picture>
        <source srcset="./img/hero-b2b.webp" type="image/webp">
        <img loading="lazy" src="./img/hero-b2b.jpg" class="image" width="1193" height="880" alt="">
      </picture>
    </div>
  </div>
</section>
