<div class="mobile-menu" data-menu>
  <div class="mobile-menu__overlay" data-menu-overlay></div>
  <div class="mobile-menu__content">

    <nav class="mobile-menu__nav">
      <ul>
        <li><a href="#" data-menu-item>В2В</a></li>
        <li><a href="#" data-menu-item>Контакты</a></li>
        <li><a href="#" data-menu-item>Юридическая информация</a></li>
      </ul>
    </nav>

    <button class="mobile-menu__cta btn btn-reset" data-menu-item>
      Оставить заявку
    </button>
  </div>
</div>
