<!-- Модальное окно успешной отправки -->
<div class="modal modal--success" id="modal-success">
  <div class="modal__overlay"></div>
  <div class="modal__container">
    <div class="modal__content">
      <button
        class="modal__close"
        type="button"
        aria-label="Закрыть модальное окно"
      >
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1 1L29 29M29 1L1 29" stroke="#050220" stroke-width="2" />
        </svg>
      </button>

      <div class="modal__success">
        <div class="modal__success-icon" aria-hidden="true">
          <svg
            width="124"
            height="90"
            viewBox="0 0 124 90"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M42.4097 70.3563L110.361 2.40535C111.964 0.801783 113.835 0 115.973 0C118.111 0 119.982 0.801783 121.586 2.40535C123.189 4.00891 123.991 5.91448 123.991 8.12205C123.991 10.3296 123.189 12.2325 121.586 13.8307L48.0222 87.5947C46.4186 89.1982 44.5478 90 42.4097 90C40.2716 90 38.4008 89.1982 36.7973 87.5947L2.32065 53.118C0.717082 51.5145 -0.0526295 49.6116 0.011513 47.4094C0.0756556 45.2071 0.912179 43.3016 2.52109 41.6926C4.13 40.0837 6.03557 39.282 8.23779 39.2873C10.44 39.2926 12.3429 40.0944 13.9465 41.6926L42.4097 70.3563Z"
              fill="#75EA75"
            />
          </svg>
        </div>
        <div class="modal__text">
          <h3 class="modal__success-title">Заявка успешно отправлена!</h3>
          <p class="modal__success-text desc1">
            Наш менеджер свяжется с вами в ближайшее время
          </p>
        </div>
        <button class="btn btn-reset modal__ok btn_grey">Отлично</button>
      </div>
    </div>
  </div>
</div>
