<section class="more">
  <div class="container">
    <div class="more__header">
      <div class="more__left">
        <h2 class="title2 more__title">
          Вопросы и ответы
        </h2>
        <p class="more__desc desc1">
          Больше информации в наших соц. сетях
        </p>
      </div>
      <ul class="list-reset soc more__soc more__soc--desktop">
        <li>
          <a href="#" target="_blank">
            <img src="./img/wa.svg" alt="WhatsApp">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="./img/tg.svg" alt="Telegram">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="./img/vk.svg" alt="VKontakte">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="more__container">
    <div class="swiper more__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="more__item" data-src="https://vk.com/clip-232383915_456239022">
            <img src="./img/faq/01.webp" alt="Video 1">
            <button class="btn-reset info__play" aria-label="Запустить видео" data-video-play>
              <svg>
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="more__item" data-src="https://vk.com/clip-232383915_456239022">
            <img src="./img/faq/02.webp" alt="Video 2">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="more__item" data-src="https://vk.com/clip-232383915_456239022">
            <img src="./img/faq/03.webp" alt="Video 3">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="more__item" data-src="https://vk.com/clip-232383915_456239022">
            <img src="./img/faq/04.webp" alt="Video 4">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="more__item" data-src="https://vk.com/clip-232383915_456239022">
            <img src="./img/faq/05.webp" alt="Video 5">
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="container more__desc more__desc--mobile desc1">
    Больше информации в наших соц. сетях
  </p>
  <ul class="list-reset soc more__soc more__soc--mobile">
    <li>
      <a href="#" target="_blank">
        <img src="./img/wa.svg" alt="WhatsApp">
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <img src="./img/tg.svg" alt="Telegram">
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <img src="./img/vk.svg" alt="VKontakte">
      </a>
    </li>
  </ul>
</section>
