<section class="popular">
  <div class="container">
    <h2 class="title2 popular__title">Популярные авто<span>мобили</span></h2>
  </div>
  <div class="popular__slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="pop-item popular__item">
            <div class="pop-item__img">
              <img src="./img/popular/01.webp" alt="" />
            </div>
            <div class="pop-item__content">
              <p class="pop-item__capture">Cherry Tiggo 4 Pro</p>
              <ul class="list-reset pop-item__list">
                <li>1.5 л</li>
                <li>2021</li>
                <li>26700 км</li>
              </ul>
              <div class="pop-item__price">~1 020 000 р</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="pop-item popular__item">
            <div class="pop-item__img">
              <img src="./img/popular/01.webp" alt="" />
            </div>
            <div class="pop-item__content">
              <p class="pop-item__capture">Cherry Tiggo 4 Pro</p>
              <ul class="list-reset pop-item__list">
                <li>1.5 л</li>
                <li>2021</li>
                <li>26700 км</li>
              </ul>
              <div class="pop-item__price">~1 020 000 р</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="pop-item popular__item">
            <div class="pop-item__img">
              <img src="./img/popular/01.webp" alt="" />
            </div>
            <div class="pop-item__content">
              <p class="pop-item__capture">Cherry Tiggo 4 Pro</p>
              <ul class="list-reset pop-item__list">
                <li>1.5 л</li>
                <li>2021</li>
                <li>26700 км</li>
              </ul>
              <div class="pop-item__price">~1 020 000 р</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="pop-item popular__item">
            <div class="pop-item__img">
              <img src="./img/popular/01.webp" alt="" />
            </div>
            <div class="pop-item__content">
              <p class="pop-item__capture">Cherry Tiggo 4 Pro</p>
              <ul class="list-reset pop-item__list">
                <li>1.5 л</li>
                <li>2021</li>
                <li>26700 км</li>
              </ul>
              <div class="pop-item__price">~1 020 000 р</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="pop-item popular__item">
            <div class="pop-item__img">
              <img src="./img/popular/01.webp" alt="" />
            </div>
            <div class="pop-item__content">
              <p class="pop-item__capture">Cherry Tiggo 4 Pro</p>
              <ul class="list-reset pop-item__list">
                <li>1.5 л</li>
                <li>2021</li>
                <li>26700 км</li>
              </ul>
              <div class="pop-item__price">~1 020 000 р</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
