<section class="poss">
  <div class="container ">
    <div class="poss__container">
      <div class="poss__content">
        <h2 class="poss__title">
          Широкие возможности<br>транспортировки
        </h2>
        <p class="capture1 poss__desc">
          Благодаря собственному складу и&nbsp;логистическому сервису мы&nbsp;можем организовать отправку в&nbsp;регионы
        </p>
      </div>
      <div class="poss__img">
        <picture>
          <source srcset="./img/poss-mob.webp" type="image/webp" media="(max-width: 600px)">
          <source srcset="./img/poss.webp" type="image/webp">
          <img loading="lazy" src="./img/poss.jpg" class="image" width="1800" height="900" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
