<section class="selection">
  <div class="container">

    <div class="selection__container">
      <div class="selection__content">
        <h2 class="selection__title title2">
          Подбор и&nbsp;выкуп авто
          в&nbsp;Китае под&nbsp;разбор
        </h2>
        <p class=" selection__desc">
          Выполняем профессиональный подбор<br>
          и&nbsp;выкуп авто с&nbsp;последующей отправкой<br>
          морским транспортом в&nbsp;Россию
        </p>
      </div>
      <div class="selection__img">
        <img src="./img/selection.webp" aria-hidden="true" alt="">
      </div>
    </div>
  </div>
</section>
