<section class="services">
  <div class="container">
    <h2 class="title2 services__title centered">Услуги</h2>

    <div class="services__items">
      <article class="s-item services__item">
        <div class="s-item__img">
          <img src="./img/services/01.webp" width="580" height="300" alt="" />
        </div>
        <div class="s-item__content">
          <h4 class="s-item__title">
            Подбор автомобиля силами нашего сервиса с&nbsp;доставкой до&nbsp;РФ
          </h4>
          <p class="s-item__desc desc1">
            Вы&nbsp;делаете заявку вашего клиента и&nbsp;мы&nbsp;производим
            полный цикл по&nbsp;подбору, покупке, доставке и&nbsp;оформлению
            автомобиля
          </p>
        </div>
      </article>
      <article class="s-item services__item">
        <div class="s-item__img">
          <img src="./img/services/02.webp" width="580" height="300" alt="" />
        </div>
        <div class="s-item__content">
          <h4 class="s-item__title">
            Организация морской перевозки автомобиля из&nbsp;Китая в&nbsp;РФ
          </h4>
          <p class="s-item__desc desc1">
            Мы&nbsp;принимаем автомобиль в&nbsp;порту Цинадо
            КНР&nbsp;и&nbsp;осуществляем его&nbsp;доставку до&nbsp;порта
            в&nbsp;РФ
          </p>
        </div>
      </article>
      <article class="s-item services__item">
        <div class="s-item__img">
          <img src="./img/services/03.webp" width="580" height="300" alt="" />
        </div>
        <div class="s-item__content">
          <h4 class="s-item__title">
            Организация морской перевозки автомобиля из&nbsp;Китая в&nbsp;РФ<br />
            с&nbsp;его&nbsp;таможенным оформлением
          </h4>
          <p class="s-item__desc desc1">
            Мы&nbsp;принимаем автомобиль в&nbsp;порту Циндао
            КНР&nbsp;и&nbsp;осуществляем его&nbsp;доставку до&nbsp;порта
            в&nbsp;РФ&nbsp;с&nbsp;проведением всех процедур по&nbsp;таможенному
            оформлению и&nbsp;выдачей ЭПТС
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
