<section class="steps">
  <div class="container">
    <h2 class="steps__title title2">Этапы покупки авто</h2>

    <div class="steps__container">
      <div class="steps__item">
        <div class="steps__top">
          <p class="steps__capture">Оформление заявки</p>
        </div>

        <div class="steps__row">
          <div class="steps__icon">
            <img src="./img/steps/01.svg" width="73" height="73" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__top">
          <p class="steps__capture">Получение</p>
          <div class="steps__desc">
            <p>Бесплатной консультации</p>
            <p>Расчета за авто</p>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__icon">
            <img src="./img/steps/02.svg" width="73" height="73" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__top">
          <p class="steps__capture">Заключение договора</p>
        </div>

        <div class="steps__row">
          <div class="steps__icon">
            <img src="./img/steps/03.svg" width="73" height="73" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__top">
          <p class="steps__capture">Внесение предоплаты</p>
          <div class="steps__desc">
            <p>Входит в конечную стоимость</p>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__icon">
            <img src="./img/steps/04.svg" width="73" height="73" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__top">
          <p class="steps__capture">Подбор автомобиля</p>
        </div>

        <div class="steps__row">
          <div class="steps__icon">
            <img src="./img/steps/05.svg" width="73" height="73" aria-hidden="true" alt="">
          </div>
        </div>
      </div>


      <div class="steps__item">
        <div class="steps__top">
          <p class="steps__capture">Покупка авто</p>
        </div>

        <div class="steps__row">
          <div class="steps__icon">
            <img src="./img/steps/06.svg" width="73" height="73" aria-hidden="true" alt="">
          </div>
        </div>
      </div>

      <div class="steps__item">
        <div class="steps__top">
          <p class="steps__capture">Оплата</p>
          <div class="steps__desc">
            <p>Стоимости автомобиля</p>
            <p>Расходов на доставку</p>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__icon">
            <img src="./img/steps/07.svg" width="73" height="73" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__top">
          <p class="steps__capture">Таможенное оформление</p>
        </div>

        <div class="steps__row">
          <div class="steps__icon">
            <img src="./img/steps/08.svg" width="73" height="73" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__top">
          <p class="steps__capture">Оплата </p>
          <div class="steps__desc">
            <p>Услуг СВХ</p>
            <p>Лаборатории</p>
            <p>Таможенных платежей</p>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__icon">
            <img src="./img/steps/09.svg" width="73" height="73" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__top">
          <p class="steps__capture">Выдача автомобиля клиенту </p>
          <div class="steps__desc">
            <p> С возможностью отправки в другой регион</p>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__icon">
            <img src="./img/steps/10.svg" width="73" height="73" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
