<section class="testi">
  <div class="container">
    <h2 class="title2 testi__title">Отзывы</h2>
  </div>
  <div class="testi__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="testi__slide">
          <div class="testi__img"></div>
          <div class="testi__content">
            <p class="testi__capture">Имя клиента</p>
            <div class="testi__row">
              <div class="testi__rating" data-rate="4"></div>
              <time datetime="08.12.2025" class="testi__date">12.08.2025</time>
            </div>
            <p class="testi__desc">
              Текст отзыва
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testi__slide">
          <div class="testi__img"></div>
          <div class="testi__content">
            <p class="testi__capture">Имя клиента</p>
            <div class="testi__row">
              <div class="testi__rating" data-rate="4"></div>
              <time datetime="08.12.2025" class="testi__date">12.08.2025</time>
            </div>
            <p class="testi__desc">
              Текст отзыва
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testi__slide">
          <div class="testi__img"></div>
          <div class="testi__content">
            <p class="testi__capture">Имя клиента</p>
            <div class="testi__row">
              <div class="testi__rating" data-rate="4"></div>
              <time datetime="08.12.2025" class="testi__date">12.08.2025</time>
            </div>
            <p class="testi__desc">
              Текст отзыва
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testi__slide">
          <div class="testi__img"></div>
          <div class="testi__content">
            <p class="testi__capture">Имя клиента</p>
            <div class="testi__row">
              <div class="testi__rating" data-rate="4"></div>
              <time datetime="08.12.2025" class="testi__date">12.08.2025</time>
            </div>
            <p class="testi__desc">
              Текст отзыва
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testi__slide">
          <div class="testi__img"></div>
          <div class="testi__content">
            <p class="testi__capture">Имя клиента</p>
            <div class="testi__row">
              <div class="testi__rating" data-rate="4"></div>
              <time datetime="08.12.2025" class="testi__date">12.08.2025</time>
            </div>
            <p class="testi__desc">
              Текст отзыва
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testi__slide">
          <div class="testi__img"></div>
          <div class="testi__content">
            <p class="testi__capture">Имя клиента</p>
            <div class="testi__row">
              <div class="testi__rating" data-rate="4"></div>
              <time datetime="08.12.2025" class="testi__date">12.08.2025</time>
            </div>
            <p class="testi__desc">
              Текст отзыва
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
