<section class="work">
  <div class="container">
    <h2 class="title2 work__title centered">
      Как работает наш сервис для B2B
    </h2>
    <div class="work__container">
      <div class="work__item">
        <div class="work__item-top">
          <p class="work__item-capture">
            Вы заключаете договор
            с компанией АвтоКлик
          </p>
          <p class="work__item-desc">
            Начинаете сотрудничество
            на официальных условиях
          </p>
        </div>

        <div class="work__item-bottom">
          <div class="work__item-icon">
            <img src="./img/work/01.svg" aria-hidden="true" alt="">
          </div>
        </div>
      </div>

      <div class="work__item">
        <div class="work__item-top">
          <p class="work__item-capture">
            Получаете доступ<br>
            в личный кабинет
          </p>
          <p class="work__item-desc">
            Ведете всех ваших клиентов
            самостоятельно
          </p>
        </div>

        <div class="work__item-bottom">
          <div class="work__item-icon">
            <img src="./img/work/03.svg" aria-hidden="true" alt="">
          </div>
        </div>
      </div>

      <div class="work__item">
        <div class="work__item-top">
          <p class="work__item-capture">
            Для оплаты в Китай используете<br>
            наш уникальный сервис
          </p>
          <p class="work__item-desc">
            Оплата производится по счету
            или через QR-код на реквизиты российского банка
          </p>
        </div>

        <div class="work__item-bottom">
          <div class="work__item-icon">
            <img src="./img/work/03.svg" aria-hidden="true" alt="">
          </div>
        </div>
      </div>

      <div class="work__item">
        <div class="work__item-top">
          <p class="work__item-capture">
            Через систему уведомлений отслеживаете статус купленных авто
          </p>
          <p class="work__item-desc">
            Вы всегда знаете, где находится автомобиль
            и можете сообщить об этом клиенту
          </p>
        </div>

        <div class="work__item-bottom">
          <div class="work__item-icon">
            <img src="./img/work/04.svg" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
      <div class="work__item">
        <div class="work__item-top">
          <p class="work__item-capture">
            <span>Ваш клиент работает с Вами </span>
            Вы работаете с нами
          </p>
        </div>

        <div class="work__item-bottom">
          <div class="work__item-icon">
            <img src="./img/work/05.svg" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
